In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
p= r"G:\project\NHTS Data 2017 Household repo folder\nhts-2017-hh\hhpub.csv"
df=pd.read_csv(p)

In [4]:
df.head()

,HOUSEID,TRAVDAY,SAMPSTRAT,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,PC,SPHONE,TAB,...,SMPLSRCE,WTHHFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,30000007,2,3,1,3,5,7,2,1,2,...,2,187.314320,T,50,1500,750,750,20,750,300
1,30000008,5,2,1,2,4,8,1,1,2,...,2,69.513032,R,5,300,300,150,5,300,300
2,30000012,5,3,1,1,2,10,1,1,3,...,2,79.419586,C,80,17000,17000,5000,60,17000,7000
3,30000019,5,3,1,2,2,3,1,5,5,...,2,279.143588,S,40,300,300,150,50,750,300
4,30000029,3,3,1,2,2,5,2,5,1,...,2,103.240304,S,40,1500,750,750,40,1500,750

In [5]:
df.columns.values

array(['HOUSEID', 'TRAVDAY', 'SAMPSTRAT', 'HOMEOWN', 'HHSIZE', 'HHVEHCNT',
       'HHFAMINC', 'PC', 'SPHONE', 'TAB', 'WALK', 'BIKE', 'CAR', 'TAXI',
       'BUS', 'TRAIN', 'PARA', 'PRICE', 'PLACE', 'WALK2SAVE', 'BIKE2SAVE',
       'PTRANS', 'HHRELATD', 'DRVRCNT', 'CNTTDHH', 'HHSTATE', 'HHSTFIPS',
       'NUMADLT', 'YOUNGCHILD', 'WRKCOUNT', 'TDAYDATE', 'HHRESP',
       'LIF_CYC', 'MSACAT', 'MSASIZE', 'RAIL', 'URBAN', 'URBANSIZE',
       'URBRUR', 'SCRESP', 'CENSUS_D', 'CENSUS_R', 'CDIVMSAR', 'HH_RACE',
       'HH_HISP', 'HH_CBSA', 'RESP_CNT', 'WEBUSE17', 'SMPLSRCE',
       'WTHHFIN', 'HBHUR', 'HTHTNRNT', 'HTPPOPDN', 'HTRESDN', 'HTEEMPDN',
       'HBHTNRNT', 'HBPPOPDN', 'HBRESDN'], dtype=object)

In [6]:
df.BIKE.value_counts()

 5    80427
 4    19323
-9    14661
 3     8037
 2     5363
 1     1870
-8       10
-7        5
Name: BIKE, dtype: int64

## codebook link 
https://nhts.ornl.gov/tables09/CodebookBrowser.aspx

## Travel is a Financial Burden is it because of poverty or poor access to daily needs
### if poverty, then the distribution among middle class will be normal
### if inaccessibility is the cause, then middle class will consider it as a burden
#### WEBUSE17

## var name PLACE
https://nhts.ornl.gov/tables09/CodebookPage.aspx?id=1287
#Travel is a Financial Burden

In [7]:
df_PLACE= df[(df['PLACE'] == 1) | (df['PLACE'] == 2)]

In [8]:
df_PLACE_D= df[(df['PLACE'] == 4) | (df['PLACE'] == 5)]

In [9]:
df_PLACE_ALL= (df[(df['PLACE'] == 4) | (df['PLACE'] == 5) | (df['PLACE'] == 1) | (df['PLACE'] == 2)] )

In [10]:
import numpy as np
df_PLACE_ALL['BURDEN'] = np.where(((df_PLACE_ALL['PLACE'] == 1) | (df_PLACE_ALL['PLACE'] == 2)), 'Burden', 'Not Burden')
df_PLACE_ALL.head()

<ipython-input-10-d81ef5bf657d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_PLACE_ALL['BURDEN'] = np.where(((df_PLACE_ALL['PLACE'] == 1) | (df_PLACE_ALL['PLACE'] == 2)), 'Burden', 'Not Burden')

,HOUSEID,TRAVDAY,SAMPSTRAT,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,PC,SPHONE,TAB,...,WTHHFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,BURDEN
0,30000007,2,3,1,3,5,7,2,1,2,...,187.314320,T,50,1500,750,750,20,750,300,Burden
1,30000008,5,2,1,2,4,8,1,1,2,...,69.513032,R,5,300,300,150,5,300,300,Burden
2,30000012,5,3,1,1,2,10,1,1,3,...,79.419586,C,80,17000,17000,5000,60,17000,7000,Burden
4,30000029,3,3,1,2,2,5,2,5,1,...,103.240304,S,40,1500,750,750,40,1500,750,Burden
6,30000041,4,3,1,2,2,11,1,1,1,...,788.614240,T,40,300,50,25,40,300,300,Not Burden

In [11]:
len(df), len(df_PLACE), len(df_PLACE_D), len(df_PLACE_ALL)

(129696, 47825, 34781, 82606)

In [ ]:
df_PLACE_ALL.groupby('BURDEN').HOUSEID.value_counts(normalize=True).unstack(0).plot.bar()

In [ ]:
df_PLACE.head(20)

In [ ]:
df_PLACE.columns.values

## var nameTRAVDAY
https://nhts.ornl.gov/tables09/CodebookPage.aspx?id=1328 Travel day - day of week
1- Sunday ~ 7- Saturday

In [ ]:
df_PLACE.TRAVDAY.value_counts()

In [ ]:
df_PLACE_D.TRAVDAY.value_counts()

In [ ]:
df.TRAVDAY.value_counts()

In [ ]:
## for name, values in df.iteritems():
   ## print('{name}: {value}'.format(name=name, value=values[:]))

In [ ]:
df.BUS.value_counts()

In [ ]:
df_PLACE.BUS.value_counts()

In [ ]:
df_PLACE_D.BUS.value_counts()

In [ ]:
plt.scatter(df['PLACE'], df['BUS'])
plt.show()

In [ ]:
plt.scatter(df_PLACE['PLACE'], df_PLACE['BUS'])
plt.show()

# BIKE2SAVE 
https://nhts.ornl.gov/tables09/CodebookPage.aspx?id=1178 # Bicycle to Reduce Financial Burden of Travel

In [ ]:
df_PLACE.BIKE2SAVE.value_counts()

In [ ]:
df.BIKE2SAVE.value_counts()